/*body*/
.aleximagecontainer
{
	position:absolute;
	top:22%;
	height:165%;
	width:100%;
}
.aleximagecontainer img
{
	width: 100%;
	height: 100%;
	opacity: 0.5;
}
/* TEST ELEMENTS */
.alexheadertesting
{
	height:15%;
	text-align:center;
	font-size:32px;	
	z-index:99;
	position:relative;
	top:0;
}
.alexheadingbar
{
	height:100%;
	width:100%;
	text-align:center;
	font-size:32px;	
	z-index:98;
	position:absolute;
	top:0;
}
.alextextboxtitle
{
	position:relative;
	opacity:1;
	text-align:center;
	top:0;
	z-index:99;

}
.alexheadingbar img
{
	width: 100%;
	height: 100%;
	z-index:1;
	opacity:0.5;
}
/* NAV BAR*/
.navbar
{
	width: 100%;
	height: 7%;
	background-color: rgb(150,50,50);
	position:sticky;
    top:0;
    z-index:99;
	margin: auto;
}
#nvbar1
{
	margin: auto;
	height: 100%;
	width: 75%;
	text-align: center;
	background-color: rgb(150,50,50);
}
#navtable
{
	margin: auto;
	text-align:center;
}
#logo img
{
	float:left;
	width: 10%;
	height:100%;
	margin-left: 5%;
}
#navtable button[type=button]
	{
		width:100%;
		height:100%;
		font-size: 16px;
		background-color: rgb(200,100,100);
		border-width: 0px;
		text-align:center;
		padding: 5px 10px;
		color:white;
	}
#navtable button[type=button]:hover
	{
		color:orange;
	}
/* SIDE BAR */
.alexsidebar
{
	float: left;
	width: 15%;
	height: 93%;
	/*background-color: rgb(200,200,200); */
	position:sticky;
	top:7%;
    z-index:98;
}
#alexsidenavlist 
{
	text-align: center;
	margin: auto;
	width:100%;
	padding: 0px 5px;
}
#alexsidenavlist button[type=button]
	{
		width:100%;
		height:100%;
		font-size: 16px;
		background-color: rgb(200,100,100);
		border-width: 0px;
		text-align:center;
		padding: 5px 5px;
		color:white;
	}
#alexsidenavlist button[type=button]:hover
{
	color:orange;
}
#alexsidebarheader
{
	margin: auto;
	width: 90%;
	text-align: center;
	background-color: rgb(150,50,50);
	color:rgb(240,240,240);
}
#alexsidebarnav
{
	margin: auto;
	width: 90%;
	height: 40%;
	text-align: center;
	background-color: rgb(150,50,50);
	color:rgb(240,240,240);
	font-size:15px;
}
#alexsidebarnav2
{
	margin: auto;
	width: 90%;
	height: 50%;
	text-align: left;
	background-color: rgb(150,50,50);
	color:rgb(240,240,240);
}
#alexsidebarnav2 p
{
	padding: 10px;
}	
#alexsidebarnav h3
{
	padding: 5px 10px;
}	
/* CONTENT AND DISPLAYS */
.alexcontent
{
	float: right;
	width: 85%;
	height: 120%;
	/*background-color: rgb(200,200,200);*/
	position:relative;
	top: 10%;
}
#alexdisplay1, 
#alexdisplay2, 
#alexdisplay3, 
#alexdisplay4, 
#alexdisplay5 {
	margin: auto;
	width: 95%;
	height: 100%;
	position: absolute;
	top: 1%;
	left: 3%;
	background-color:rgb(200,200,200);
	text-indent: 15px;
	padding:10px;
}
#alexdisplay1 p, 
#alexdisplay2 p, 
#alexdisplay3 p, 
#alexdisplay4 p, 
#alexdisplay5 p {
	position: relative;
	top: 8px;
	left: 16px;
}
#alexdisplay1
{
	z-index:50;
}
#alexdisplay1 img,
#alexdisplay2 img,
#alexdisplay3 img,
#alexdisplay4 img,
#alexdisplay5 img
{
	position:relative;
	left:5%;
}
#alexdisplay2
{
	z-index:49;
}
#alexdisplay3
{
	z-index:48;
}
#alexdisplay4
{
	z-index:47;
}
#alexdisplay5
{
	z-index:46;
}
/* PAGE TITLE */
.alexpagetitle
{
	float: right;
	width: 85%;
	height: 10%;
	/*background-color: rgb(200,200,200);*/
	text-align:left;
	padding: 0px 0px;
	font-size:24px;
	position:relative;
	top: 0%;
}
#alexpagetitlespace
{
	width: 90%;
	height: 100%;
	margin: auto;
	text-align: left;
	font-size:24px;
	background-color: rgb(50,50,150);
	text-indent: 5%;
	color:white;
}

.alexfootertitle
{
	float: left;
	width: 100%;
	height: 10%;
	/*background-color: rgb(200,200,200);*/
	text-align:left;
	padding: 0px 0px;
	font-size:24px;
	position:relative;
	top: 10%;
}
#alexfootertitlespace
{
	width: 90%;
	height: 100%;
	margin: auto;
	text-align: center;
	font-size:24px;
	background-color: rgb(50,50,150);
	color:white;
}

/* AMIR */
#amirbody1 {
     background-color:darkblue;

}

#amirh1 {
     margin: ;
     text-align: center;
     color: red;
     padding: 5px;
     border-style: solid;
}

#amirh5 {
  color:yellow;

}

#logos { 
  position:absolute;
  z-index:100;
  width: 230px;
  height: 156px;
  top: 0;
  right: -10;

}

#english {
   position:relative;
   width: 300px;
   height: 280px;
   top: 17px;
   bottom 

}

#break2 {
   position:relative;
   width: 300px;
   height: 280px;
   top: 10px;
   bottom 

}

#break3 {
   position:relative;
   width: 300px;
   height: 280px;
   top: 10px;
   bottom 

}

#lunch1 {
   position:relative;
   width: 300px;
   height: 280px;
   top: 10px;
   bottom 

}

#lunch2 {
   position:relative;
   width: 300px;
   height: 280px;
   top: 10px;
   bottom 

}

#lunch3 {
   position:relative;
   width: 300px;
   height: 280px;
   top: 10px;
   bottom 

}

#tea1 {
   position:relative;
   width: 300px;
   height: 280px;
   top: 10px;
   bottom 

}

#tea2 {
   position:relative;
   width: 300px;
   height: 280px;
   top: 10px;
   bottom 

}

#tea3 {
   position:relative;
   width: 300px;
   height: 280px;
   top: 10px;
   bottom 

}



#amirnav {
    background-color: royalblue;
    display: grid;
    place-items: center;
}

#amirnav ul {
   list-style-type: none;
}

#amirnav ul a{
    display: inline-block;
    width: 90px;
    height: 20px;
    padding 15px;
    border: 3px;
    transition: 0.3s ease-in;
    text-decoration: none;
}

#amirnav ul a:hover {
    background-color: ;
    color: red;

}
#amirfooter1
{
	text-align:center;
}

.foodoptions {
       display: grid;
       grid-template-columns: repeat(3,1fr);
        padding: 5px 5px;
       grid-column-gap: 10px;
       grid-row-gap: 20px;
}
/* ANGEL 2*/
.angelheader 
{
	color:white;
	background-color:navy;
	font-size:36px;
	text-align: center;
	position: relative;
	border-color: rgb(200, 16, 46);
	border-style: solid;
	border-width: 5px;
	background-image: url('londonskyline.jpg');
	
}
.angelcontactheader 
{
	color:white;
	background-color:navy;
	font-size:36px;
	text-align: center;
	position: relative;
	border-color: rgb(200, 16, 46);
	border-style: solid;
	border-width: 5px;
	background-image: url('londonimg.jfif');
	
}
#angelcontainer
{
	size: 100%;
	width:100%;
	height:70%;
	position:relative;
	margin: 0 auto;
	background-color: whitesmoke;
}

.angelcontent
{
	width: 80%;
	height: 80%;
	background-color: rgb(200,200,200);
	position:relative;
	margin:0 auto;
	z-index:1;
	font-size: 1.50em;
	color: white;
	border: 2px rgb(1, 33, 105);
	border-radius: 20px;
	box-shadow: 10px 5px 5px black
	
}
.angelcontactcontent
{
	width: 80%;
	height: 150%;
	background-color: rgb(200,200,200);
	position: relative;
	margin:0 auto;
	z-index:1;
	font-size: 1.50em;
	color: white;
	border: 2px rgb(1, 33, 105);
	border-radius: 20px;
	box-shadow: 10px 5px 5px black

}
.angelcontent p
{
	padding: 0px 50px;
}

.leftcolumn
{
	width: 10%;
	height: 170%;
	background-color: rgb(200, 16, 46);
	position:absolute;
	left:0;
	top:0;
	color:white;
	border-style: solid;
	border-width: 5px;
	border-color: rgb(1, 33, 105);
	margin-top: 300px;

}
.contactleftcolumn
{
	width: 10%;
	height: 100%;
	background-color: rgb(200, 16, 46);
	position:absolute;
	left:0;
	top:0;
	color:white;
	border-style: solid;
	border-width: 5px;
	border-color: rgb(1, 33, 105);
	margin-top: 325px;
	

}
.rightcolumn
{
	width: 10%;
	height: 170%;
	background-color: rgb(200, 16, 46);
	position:absolute;
	right: 0;
	top:0;
	color:white;
	border-style: solid;
	border-width: 5px;
	border-color: rgb(1, 33, 105);
	margin-top: 300px;
}
.contactrightcolumn
{
	width: 10%;
	height: 100%;
	background-color: rgb(200, 16, 46);
	position:absolute;
	right: 0;
	top:0;
	color:white;
	border-style: solid;
	border-width: 5px;
	border-color: rgb(1, 33, 105);
	margin-top: 325px;
	
}
.angeldivh1
{
	text-align: center;
	color: white;
	border-style: solid;
	border-width: 5px;
	border-color: rgb(1, 33, 105);
}

.pounds img{
	
	width: 250px;
	height: 100px;
	position: relative;
	
}

#angelspounds{
	position: absolute;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-size: 20px;
}
.missingpplpdf{
	width: 800px;
	margin-left: auto ;
	margin-right: auto ;
	position:relative;
	justify-content: center;
	right: 120px;
}
.angelcurrencybody{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('usdtogbp.jfif');
}
.wrapper{
    background-color: white;
    width: 450px;
    padding:10px;
    position: relative;
}
.wrapper h1{
    position: absolute;
    right: 31px;
    font-size: 28px;
    top:19px;
    color:red;

}

.wrapper .currency_exchange{
    width: 100%;
    display:flex;
    flex-direction: column;
}

.currency_exchange select{
    width: 30%;
    height: 40px;
    font-size: 1em;
    cursor: pointer;
    background: gray;
    color: white;
    margin:.2em 0;
    padding: 0 1em;
    border: none;
}

.currency_exchange input{
    width: 95%;
    height: 40px;
    border: none;
    outline:none;
    font-size: 1em;
    margin:.2em 0;
    background: rgb(200, 16, 46);
    color: white;
    padding: 0 1em;

}
#convert_currency{
    width: 30%;
    height: 40px;
    background: navy;
    font-size: 1.1em;
    font-weight: 600;
    margin: .5em;
    cursor: pointer;
    color: white;
}

/*SPENCER
*/
#spencerfieldset
	{
	text-align:center;
	background-color:red;
	font-family:Arial, sans-serif;
	}

#spencerheader
	{
	text-align:center;
	color:white;
	font-family:Arial, sans-serif;
	}

#spencerbody
	{
	position:relative;
	background-color:red;
	height:100%;
	}

#spencerfooter
	{
	text-align:center;
	}

#spencerhotels
	{
	position:relative;
	margin-left:15%;
	}

#spencersidebar
	{
	position:absolute;
	font-family:Arial, sans-serif;
	background-color: rgb(50,50,50);
	height:100%;
	text-align:center;
	}

#spencersearch
	{
	margin-left:100px;
	}

#londonerpics
	{
	border-color:white;
	}

#spencer4pics
	{
	border:none;
	width:100%;	
	height:100&;
	}

.enlarge:hover
	{
	position:absolute;
	left:200px;
	width:500px;
	height:250px;
	cursor: pointer;
	}

.enlargee:hover
	{
	position:absolute;
	width:500px;
	height:250px;
	bottom:200px;
	cursor:pointer;
	}

#spencerhoteltext
	{
	font-family:Arial, sans-serif;
	font-size:20;
	text-align:center;
	}

#corinthia	, #londoner, #rubens
	{
	border-spacing: 20px;
	}

#spencerabouthotel
	{
	background-color:red;
	width:20%;
	text-align:left;	
	}

#spencerlist
	{
	list-style-type:none;
	padding-top:20px;
	
	}

#leftindent
	{
	text-align:center;
	text-style:bold;
	}

.spencerquicklink 
	{
	color:white;
	background-color:transparent;
	text-decoration:none;
	}

.spencerquicklink:hover
	{
	color:red;
	}	
/* ANGEL */

	#angelsconverterbody {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('usdtogbp.jfif');
    font-family: Arial, Helvetica, sans-serif;
}
.angelsconverterwrapper{
    background-color: white;
    width: 450px;
    padding:10px;
    position: relative;
    position: absolute;
    justify-content: center;
    font-size: 28px;
    top:19px;
    color: navy;
    width: 50%;
    display:flex;
    flex-direction: column;
    margin-top: 25%;
    border-radius: 25px;
    box-shadow: 12px 12px 2px 1px;
}
#angelUSD {
    width: 95%;
    height: 40px;
    border: none;
    outline:none;
    font-size: 1em;
    margin:.2em 0;
    background: gray;
    color: white;
    padding: 0 1em;
}
#angelGBP {
    width: 95%;
    height: 40px;
    border: none;
    outline:none;
    font-size: 1em;
    margin:.2em 0;
    background: gray;
    color: white;
    padding: 0 1em;
}
#angelconvertbutton{
    width: 30%;
    height: 40px;
    background: rgb(200, 16, 46);
    font-size: 1.1em;
    font-weight: 600;
    margin: .5em;
    cursor: pointer;
    color: white;
    border-radius: 10px;
}
/* HOME */
#welcomebody {
               background-color: blue;
               background-image: url("backgroundhome.jpg");
}

#welcome {
     text-align: center;
     border: 12px solid red;
     font-size: 105px;
     font-family: Arial;
     color: white;


 
}

#tour  {
     text-align: center;
     font-size: 25px;
    
     font-family: Arial;
     color: blue;


 
}

.vid1 { 
        position:absolute;
        top: 53%;
        left: 30px;

}

#londoneye {
             position:absolute;
    
             top: 53%;
             width:35%;
             right: 30;
        
}

#homefood { 
            position:absolute;   
             top: 97%;
             width:30%;
             right: 55;
 

}


/* JEREMY */
#jeremyfieldset
	{
	text-align:center;
	background-color:red
	}

#jeremyheader
	{
	text-align:center;
	color: black;
  	background-clip: text;
  	-webkit-background-clip: text;
	font-family: "Asap", sans-serif;
	}
    
#jeremyfooter
	{
	text-align:center;
	}

#jeremysidebar
	{
	position:absolute;
	font-family:Arial, sans-serif;
	background-color: rgb(50, 50, 50);
	height:100%;
	}
#jeremyairports
    {
	padding-top: 2%;
	background-color: rgb(93, 158, 214);
    }